<mat-toolbar>
    <span><a routerLink="/">My Posts</a></span>
        <span class="NP"></span>
        <ul>
            <li *ngIf="userIsAuthenticated">
                <a mat-button routerLink="/create" routerLinkActive="activelink">New post</a> 
            </li>
            <li *ngIf="!userIsAuthenticated">
                <a mat-button routerLink="/auth/login" routerLinkActive="activelink">Login</a> 
            </li>
            <li *ngIf="!userIsAuthenticated">
                <a mat-button routerLink="/auth/signup" routerLinkActive="activelink">Signup</a> 
            </li>
            <li *ngIf="userIsAuthenticated">
                <button mat-button (click)="onLogout()">Logout</button> 
            </li>
        </ul>
</mat-toolbar>
